p.instructions {
  margin-left: 20%;
  margin-right: 20%;
}

li {
  margin-left: 20%;
  margin-right: 20%;
  text-align: left;
}

.slider-width {
  width: 75%;
}

.prediction-button #jspsych-html-button-response-btngroup {
  display: flex;
  justify-content: space-between;
  margin-left: 8%;
  margin-right: 8%;
}

/* .prediction-button button {
  margin-left: 20%;
  margin-right: 20%;
} */